<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../views/css/master.css">

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <ul class="list-unstyled chat-list mt-2 mb-0">

                    <li class="clearfix active">
                        <img src="../views/img/MrH4r1.png" alt="avatar">
                        <div class="about">
                            <div class="name">MrH4r1</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="../views/img/MrH4r1.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">MrH4r1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0" >
                        <li class="clearfix">
                            <div class="message other-message float-right">Good day, buddy! What's up? , Keep in mind that XSS==RCE, If you have any feedback or queries, ping MrH4r1 on Twitter. </div>
                        </li>

                        <li class="clearfix" id="imhere">
                            <div class="message my-message">Sure.</div>
                        </li>
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">

                        <input type="text" id="msg" class="form-control" placeholder="Enter text here...">

                            <button type="button" id="clickme" name="button"><span class="input-group-text"><i class="fa fa-paper-plane fa-7x" aria-hidden="true"></i></span></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>window.$ = window.jQuery = require('jquery');</script>


<script type="text/javascript">
  $(document).ready(function(){

    $('#clickme').on('click', function (){
       var msg = $('#msg').val();
       $("#imhere").append("<li class='clearfix'> <div class='message my-message'> " + msg +" </div>   </li>");
       $("#msg").val('');
    })
  });
</script>
